/* Fixed Top Navigation Bar */
/* Global Styling */
nav {
  height: 120px;
  width: 100%;
  background-color: #bc8e0e;
  color: #f4f1ec;
  padding-right: 1.5em;
  padding-left: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

.left-nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 24px;
}

.right-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-nav p {
  font-size: 20px;
  margin: 10px;
}

.right-nav i {
  color: #822a2a;
  position: relative;
  animation: bounce 1.5s ease infinite alternate-reverse;
}

@keyframes bounce {
  0% {
    top: -5px;
  }
  100% {
    top: 5px;
  }
}

/* Mobile Styling */
@media screen and (max-width: 450px) {
  nav {
    flex-direction: column;
    justify-content: center;
  }

  .left-nav span {
    font-size: 30px;
  }

  .right-nav p {
    font-size: 16px;
  }
}

/* Desktop Styling */
@media screen and (min-width: 1024px) {
  nav {
    padding-left: 50px;
    padding-right: 50px;
  }
}

