/* Tweet Submission Form */
/* Global Sstyling */
.new-tweet {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

form textarea {
  font-weight: bold;
  background-color: #f4f1ec;
  border: none;
  padding-bottom: 20px;
  border-bottom: 3px solid #545149;
  resize: none;
}

form textarea:focus {
  outline: none;
}

form div {
  font-family: 'Bungee', sans-serif;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

form button {
  color: #f4f1ec;
  background-color: #bc8e0e;
  border-width: 0px;
}

.error {
  border-bottom: 3px dotted #822a2a;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.error p {
  font-weight: bold;
  margin: 10px;
}

.error i, .over-limit {
  color: #822a2a;
}

/* Desktop Styling */
@media screen and (min-width: 1024px) {
  .new-tweet {
    padding-top: 10px;
    margin-top: 0px;
  }
}