/* Collection of Posted Tweet Elements */
/* Global Styling */
article.tweet {
  border: solid 3px #545149;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

article.tweet:hover {
  box-shadow: 5px 5px #e4d1e6;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
}

article.tweet .left-header {
  display: flex;
  align-items: center;
}

.left-header img {
  width: 40px;
  height: 40px;
}

.left-header p {
  margin: 15px;
}

.right-header p {
  font-weight: bold;
  color:#e4d1e6;
}

article.tweet p {
  font-weight: bold;
  overflow-wrap: break-word;
}

article.tweet footer {
  display: flex;
  border-top: 3px solid #545149;
  justify-content: space-between;
  align-items: center;
}

article.tweet footer p, article.tweet footer i {
  font-size: 12px;
  padding-left: 5px;
  padding-right:5px;
}

article.tweet footer i:hover {
  color: #bc8e0e;
}

/* Desktop Styling */
@media screen and (min-width: 1024px) {
  article.tweet {
    margin-top: 0px;
  }
}